*{
margin: 0;
padding: 0;
}

.cabecalho{
    background-color: rgb(200, 10, 181);
    color: white;
    display: flex;
    justify-content: space-around;
}

.rodape{
    background-color: pink;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
